body, html{
  margin: 0px;
  padding: 0px;
  background-color: #070607;
  font-family: hobeaux-rococeaux-background, sans-serif;
  font-size: 10vmin;
  color: #E47113;
}

h1{
  margin-top: 0px;
  font-family: eckmannpsych-large, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35vmin;
  text-align: center;
  letter-spacing: 1vmin;
  line-height: 30vmin;
  padding-top: 2vmin;
  color: #7320E1;

}

h2{
  margin: 0px;
  font-family: escoffier-capitaux, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7vmin;
  text-align: center;
  padding-bottom: 2vmin;
  color: #E8E172;
}

.mainContainer{
  padding-bottom: 10vmin;
}

.bodyCopy{
  /*padding: 5vmin 10vmin 8vmin 10vmin;*/
  line-height: 4vmin;
}

p{
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 3vmin;
  letter-spacing: 0.2vmin;
  text-align: center;
  color: white;

}

img{
  width: 25%;

  /*margin: 5vmin;*/
  /*margin-bottom: 10vmin;*/
}

.images{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /

}
